# Core
python-dotenv
requests

# Data ingestion
finnhub-python

# Embeddings
sentence-transformers
torch

# Vector database
qdrant-client
psycopg[binary]
pgvector

# LLM
google-generativeai

# UI
gradio
yfinance
